.sideBar {
    position: fixed;
    width: 25%;
}

.sideNavbtn {
    display: none;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.openSideNavbtn {
    display: block;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}



@media screen and (min-width:640px) and (max-width:1280px) {
    .sideNavbtn {
        display: block;
    }

    .openSideNavbtn{
        display: block;
    }

    .sideBar {
        width: 5%;
        transition: .3s linear;
    }

    .smallSidebar {
        display: none;
    }

    .responsiveSideBar {
        width: 50%;
    }

    .responsiveSideBarNav {
        display: block;
    }
}

@media screen and (max-width:640px) {
    .sideNavbtn {
        display: block;
    }

    .openSideNavbtn{
        display: block;
    }

    .sideBar {
        width: 10%;
        transition: .3s linear;
    }

    .smallSidebar {
        display: none;
    }

    .responsiveSideBar {
        width: 100%;
    }

    .responsiveSideBarNav {
        display: block;
    }
}