/* Navbar */
.navbar{
    background-color: rgba(26, 11, 6, 1);
}

/* Navbar Section 1  */

.logo-Titel{
    font-family:  "Jost", sans-serif;
    font-weight: bold;
    color: white;
}



.svg-circle{
    border-radius: 50%;
    border: 2px solid rgba(239, 203, 151, 1);
    padding: 5px;
    color: rgba(239, 203, 151, 1);
    box-sizing: content-box;
    cursor: pointer;
    margin-left: 10px;
    margin-right:10px ;
}

.NavSVG svg{
    border: 2px solid white;
    color: white;
}

.nav-wallet-btn{
    width: 150px;
    height: 60%;
    background: linear-gradient(90deg, #EFCB97 -26.11%, #F3933F 100%);
    border-radius: 10px;
    color: white;
    margin: 0 20px 0 20px;

}


.toggle-button{
    height: 40px;
    color: white;
    display: block;
}

.responsiveNAVWallet2{
    display: none;
}

.responsiveNAVWallet{
    display: block;
}



@media screen and (max-width:768px){

    .toggleBtn{
        position: absolute;
        right: 20px;
    }
    
    .responsiveNAVWallet{
        display: none;
    }

    .responsiveNAVWallet2{
        display: flex;
    }

}



