.table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  tr:last-child{
    border: none;
  }
  th {
    background-color: #F39542;
    color: white;
    text-transform: uppercase;
  }
  td {
    background-color: #000000;
    border-left: 1px solid white;
    color: white;
    font-size: .7em;
  }
  tr:hover td {
    background-color: #000000;
  }
  td:first-child {
    font-weight: bold;
    background-color: #000000;
    border-left: 0px solid;
  }

  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
    th, td {
      padding: 10px;
    }
  }
